body {
    background-color: #252525;
  }
  h1 {
    color:  #ffffff;
    font-family: Inter;
    
  }
  h3 {
    color:  #ffffff;
    text-align: center;
    font-family: Inter
  }
  p {
    color: #c5c3c3;
    margin-top: 0px;
    font-family: Inter;
    font-size: 14px;
    
  }
.kodu-kaart {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #252525;
  }
.kodu-kaart01 {
  width: 1100px;
  height: 450px;
  display: flex;
  z-index: 1;
  position: relative;
  align-self: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.25);
  align-items: center;
  padding-top: 20px;
  padding-left: 30px;
  border-radius: 50px;
  padding-right: 30px;
  padding-bottom: 30px;
  justify-content: flex-start;
  background-color:  #fc7251;
  }
.kodu-kaart02 {
    flex: 0 0 auto;
    width: 30%;
    height: 400px;
    display: flex;
    z-index: 4;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


.kodu-kaart03 {
    flex: 0 0 auto;
    width: 30%;
    height: 400px;
    padding-left: 40px;
    display: flex;
    z-index: 4;
    align-self: flex-end;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
.kodu-kaart04 {
    width: 300px;
    height: 140px;
    display: flex;
    z-index: 1;
    position: relative;
    align-self: center;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.25);
    padding-top: 5px;
    padding-left: 30px;
    border-radius: 50px;
    padding-right: 20px;
    padding-bottom: 60px;
    flex-direction: column;
    background-color:  #252525;
    }

.kodu-kaart05 {
  width: 300px;
  height: 190px;
  display: flex;
  z-index: 1;
  position: relative;
  align-self: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  padding-left: 30px;
  border-radius: 50px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-top: 15px;
  flex-direction: column;
  background-color:  #252525;
  }
.kodu-kaart06 {
  width: 320px;
  height: 170px;
  display: flex;
  z-index: 1;
  position: relative;
  align-self: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  padding-left: 30px;
  border-radius: 50px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-left: 30px;
  margin-bottom: 35px;
  flex-direction: column;
  background-color:  #252525;
  }
.kodu-kaart07 {
  width: 320px;
  height: 120px;
  display: flex;
  z-index: 1;
  position: relative;
  align-self: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  padding-left: 30px;
  border-radius: 50px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-left: 30px;
  margin-bottom: 50px;
  flex-direction: column;
  background-color:  #252525;
  }
.kodu-kaart08 {
  width: 300px;
  height: 230px;
  display: flex;
  z-index: 1;
  position: relative;
  align-self: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  padding-left: 30px;
  border-radius: 50px;
  padding-right: 20px;
  padding-bottom: 45px;
  margin-left: 50px;
  margin-bottom: 10px;
  flex-direction: column;
  background-color:  #252525;
  }
.kodu-kaart09 {
  width: 300px;
  height: 120px;
  display: flex;
  z-index: 1;
  position: relative;
  align-self: center;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.25);
  padding-top: 5px;
  padding-left: 30px;
  border-radius: 50px;
  padding-right: 20px;
  padding-bottom: 60px;
  margin-left: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  background-color:  #252525;
  }